<form [formGroup]="form" (ngSubmit)="submit()" class="ui-form">
  <mat-card class="ui-form-card" fxLayout="column" fxLayoutAlign="space-evenly  center">

  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title-group>
      <img src="../../../../assets/img/logo-otiseg-dashboard-old.png" height="55" alt="Logotipo OTISEG">
    </mat-card-title-group>
  </mat-card-header>


  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field class="ui-form-input">
        <input matInput placeholder="Usuario" required  formControlName="username">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="ui-form-input">
        <input type="password" matInput placeholder="Senha" required formControlName="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
  </mat-card-content>


  <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
    <a routerLink="." class="ui-lostpass">Esqueceu a senha?</a>
    <button  type="submit"  mat-raised-button  [color]="'primary'"><span style="padding-right: 1px">ENTRAR</span><mat-icon>play_arrow</mat-icon></button>
  </mat-card-actions>

  <mat-card-footer class="ui-form-footer" fxLayout="row" fxLayoutAlign="center center">
    <!--<mat-checkbox [color]="'primary'">Salvar sua senha? </mat-checkbox>-->
    {{errorMessage}}
  </mat-card-footer>

</mat-card>
</form>

