
@import "../../../../assets/theme/otiseg-theme";

.ui-save-password{
  color: mat-color($app-primary);
}

.ui-form{
  height: 100%;
}

.ui-form-input{
  width: 100%;
}


.ui-lostpass{
  color: mat-color($app-primary);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.ui-form-card{
  height: 100%;
  box-sizing: border-box;
}

.ui-lostpass{
  color: mat-color($app-primary);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.ui-form-footer{
  color: mat-color($app-warn);
  height: 20px;
  font-size: 10px;
}
