
<mat-nav-list>
  <mat-list-item class="ui-user-profile">
    <img matListAvatar src="http://www.domalberto.edu.br/wp-content/uploads/2017/02/joao.png" alt="...">
    <h1 matLine>{{usuario.nome}} {{usuario.sobrenome}}</h1>
    <p matLine>
      <span>{{usuario.email}}</span>
    </p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item routerLink="/main/map" class="ui-navigation-home">
    <mat-icon matListIcon>map</mat-icon> <span class="ui-item-description">Mapa Principal</span>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>

<mat-nav-list  dense>
  <mat-list-item>
     <span matLine class="ui-item-description">Alertas</span>
    <mat-chip-list><mat-chip selected="true" color="primary">85</mat-chip></mat-chip-list>
  </mat-list-item>
  <mat-list-item>
    <span matLine class="ui-item-description">Mensagens</span>
    <mat-chip-list><mat-chip selected="true" color="primary">42</mat-chip></mat-chip-list>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>



<mat-nav-list class="ui-navigation">

  <mat-list-item>
    <mat-icon matListIcon>view_module</mat-icon> <span class="ui-item-description">Painel de Veiculos</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>my_location</mat-icon> <span class="ui-item-description">Cerca Virtual</span>
  </mat-list-item>

  <mat-list-item routerLink="/main/frota">
    <mat-icon matListIcon>directions_car</mat-icon> <span class="ui-item-description">Frotas</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>navigation</mat-icon> <span class="ui-item-description">Rotas</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>insert_chart</mat-icon> <span class="ui-item-description">Relatorios</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>build</mat-icon> <span class="ui-item-description">Manutenções</span>
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>

