mat-toolbar{
  height: 56px;
  border-bottom: 3px solid #271e01;
}

.ui-toolbar-content{
  width: 100%;
  > .ui-left{
    text-align: left;
  }
  > .ui-center{
    text-align: center;
  }
  > .ui-right{
    text-align: right;
  }
}
