<div class="ui-toolbar">
  <mat-toolbar [color]="'primary'">
    <div class="ui-toolbar-content" fxLayout="row" fxLayoutAlign="space-around">

      <!--Left TOOLBAR-->
      <div class="ui-left" fxFlexAlign="center" fxFlex="30" >
        <div fxLayout="row">
            <button (click)="toogleSideNav.emit()"  mat-icon-button color="basic">
              <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
            </button>
        </div>
      </div>

      <!--Center TOOLBAR-->
      <div class="ui-center" fxFlexAlign="center" fxFlex="40">
        <div>
          <img src="../assets/img/logo-otiseg-dashboard.png" height="35" width="130">
        </div>
      </div>

      <!--Right TOOLBAR-->
      <div class="ui-right" fxFlexAlign="center" fxFlex="30">
        <ot-dropdown
          [frotasCollection]="frotasCollection$ | async"
          [bemCollection]="bemCollection$ | async"
          [selectedBem]="selectedBem$ | async"
          [selectedFrota]="selectedFrota$ | async"
          (selectBem)="onSelectBem($event)"
          (selectFrota)="onSelectFrota($event)"
        >
        </ot-dropdown>
        <button [disabled]="!(selectedBem$ | async)" (click)="toogleSideBar.emit()" mat-icon-button color="basic">
          <mat-icon>view_module</mat-icon>
        </button>
        <ot-verticalmenu></ot-verticalmenu>
      </div>
    </div>
  </mat-toolbar>
</div>
