@import '~@angular/material/theming';
@import "../../../assets/theme/otiseg-theme";

.ui-login-logospace{
  background-color: mat-color($app-accent, 900);
  width: 50%;
}

.ui-form-card{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.ui-login-formspace{
  background-color: #e0e0e0;
  width: 50%;
}
