<ot-layout>
  <div class="ui-login-logospace" fxLayout="row" fxLayoutAlign="center center">
    <img src="../../../assets/img/logomarcas/only-g.png" height="90" alt="Logotipo OTISEG">
  </div>
  <div class="ui-login-formspace" fxLayout="row" fxLayoutAlign="center center">
   <ot-formcard class="ui-form-card"
                [pending]="pending$ | async"
                [errorMessage]="errors$ | async"
                (submitted)="onSubmit($event)">
   </ot-formcard>
  </div>
</ot-layout>
