
.iw-content-inner {
  padding: 5px;
  width: 300px;
  height: 70px;
  background-color: #e9f0e8;
  margin-top: 10px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}

.iw-content-center {
  text-align: center;
  float: left;
  width: 35%;
  padding-left: 10px;
}

.iw-label {
  margin: 5px;
}
.iw-label p {
  font-weight: bold;
}

.iw-content-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.iw-left {
  float: left;
}

.iw-right {
  text-align: center;
  float: right;
}
