<div class="iw-content" *ngIf="selectedBem as bem">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Posição Atual</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="iw-content-inner">
        <div class="iw-left">
          <span class="iw-label">Placa</span>
          <div class="iw-label">
            <strong>{{bem.detalhes.placa}}</strong>
          </div>
        </div>
        <div class="iw-content-center">
          <span class="iw-label">Modelo</span>
          <div class="iw-label">
            <strong>{{bem.detalhes.modelo}}</strong>
          </div>
        </div>
        <div class="iw-right">
          <span class="iw-label">Veiculo</span>
          <div class="iw-label"><strong>{{bem.nome}}</strong></div>
        </div>
      </div>
      <div class="iw-content-inner">
        <div class="iw-left">
          <span class="iw-label">Data e Hora</span>
          <div class="iw-label">
            <strong>{{tracker.dt_evento * 1000 | date: 'dd/MM/yyyy'}}</strong>
            <strong>{{tracker.dt_evento * 1000 | date: 'HH:mm'}}</strong>
          </div>
        </div>
        <div class="iw-right">
          <span class="iw-label">Velocidade</span>
          <div class="iw-label">
            <strong>{{tracker.velocidade + ' KM/hr'}}</strong>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
