<!--Detalhes do Veiculo-->
<mat-list dense  class="ui-bem-detalhe">
  <mat-list-item style="height: 100px">
    <img matListAvatar src="../../../../assets/img/veiculos/car-red.png" >
    <h1 matLine class="ui-titulo">{{selectedBem?.nome}}</h1>
    <span matLine class="ui-detalhe">
      <span matTooltip="Identificação do Rastreador">{{selectedBem?.rastreador.identificador}} -</span>
      <strong matTooltip="Placa do Veiculo">{{selectedBem?.detalhes.placa}}</strong>
    </span>
    <span matLine
          class="ui-detalhe"
          matTooltip="{{trackerBemSelected?.dt_evento * 1000 | date: 'dd/MM/yyyy HH:mm' }}">
      Atualizado {{trackerBemSelected?.dt_evento * 1000 | amLocale:'pt' | amTimeAgo}}
    </span>
  </mat-list-item>
</mat-list>


<mat-divider></mat-divider>

<!--Button Actions-->
<mat-list class="ui-bem-actions-wrapper">
  <mat-list-item>
    <div class="ui-bem-actions" fxLayout="row">
      <div fxFlex="50">
        <button
          [disabled]="!disableButtonBloqueio"
          (click)="bloqueiaBem.next(selectedBem?.id)" mat-button color="primary"
                matTooltip="Bloqueia o veiculo selecionado">
          <mat-icon>lock_outline</mat-icon>
          <span>Bloquear</span>
        </button>
      </div>
      <div fxFlex="50">
        <button
          [disabled]="!disableButtonDesbloqueio"
          (click)="desbloqueiaBem.next(selectedBem?.id)"
          mat-button color="primary" matTooltip="Desbloqueia o veiculo selecionado">
          <mat-icon>lock_open</mat-icon>
          <span style="text-wrap: normal"> Desbloquear </span>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<!--Informacoes Rapida-->
<mat-list class="ui-bem-informacoes-rapida-wrapper">
  <mat-list-item style="height: 60px" class="ui-bem-informacoes-rapida-item">
    <div class="ui-bem-informacoes-rapida" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex="25" class="ui-info" matTooltip="Indica se o veiculo esta ligado no momento">

        <p class="ui-info-text  -offline">
          <mat-icon>power_settings_new</mat-icon>
          <br>
          <span>Desligado</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Qualidade do sinal do GPS">
        <p class="ui-info-text">
          <mat-icon>signal_cellular_4_bar</mat-icon>
          <br>
          <span> Exelente  </span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Direção a qual o veiculo esta percorrendo">
        <p class="ui-info-text">
          <mat-icon>directions</mat-icon>
          <br>
          <span>Direcao</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Percentual de bateria disponivel no Rastreador">

        <p class="ui-info-text">
          <mat-icon>battery_alert</mat-icon>
          <br>
          <span>80%</span>
        </p>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item style="height: 60px" class="ui-bem-informacoes-rapida-item">
    <div class="ui-bem-informacoes-rapida" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex="25" class="ui-info" matTooltip="Indica se o veiculo esta ligado no momento">

        <p class="ui-info-text  -offline">
          <mat-icon>power_settings_new</mat-icon>
          <br>
          <span>Desligado</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Qualidade do sinal do GPS">
        <p class="ui-info-text">
          <mat-icon>signal_cellular_4_bar</mat-icon>
          <br>
          <span> Exelente  </span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Direção a qual o veiculo esta percorrendo">
        <p class="ui-info-text">
          <mat-icon>directions</mat-icon>
          <br>
          <span>Direcao</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Percentual de bateria disponivel no Rastreador">

        <p class="ui-info-text">
          <mat-icon>battery_alert</mat-icon>
          <br>
          <span>80%</span>
        </p>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item style="height: 60px" class="ui-bem-informacoes-rapida-item">
    <div class="ui-bem-informacoes-rapida" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex="25" class="ui-info" matTooltip="Indica se o veiculo esta ligado no momento">

        <p class="ui-info-text  -offline">
          <mat-icon>power_settings_new</mat-icon>
          <br>
          <span>Desligado</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Qualidade do sinal do GPS">
        <p class="ui-info-text">
          <mat-icon>signal_cellular_4_bar</mat-icon>
          <br>
          <span> Exelente  </span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Direção a qual o veiculo esta percorrendo">
        <p class="ui-info-text">
          <mat-icon>directions</mat-icon>
          <br>
          <span>Direcao</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Percentual de bateria disponivel no Rastreador">

        <p class="ui-info-text">
          <mat-icon>battery_alert</mat-icon>
          <br>
          <span>80%</span>
        </p>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item style="height: 60px" class="ui-bem-informacoes-rapida-item">
    <div class="ui-bem-informacoes-rapida" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex="25" class="ui-info" matTooltip="Indica se o veiculo esta ligado no momento">

        <p class="ui-info-text  -offline">
          <mat-icon>power_settings_new</mat-icon>
          <br>
          <span>Desligado</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Qualidade do sinal do GPS">
        <p class="ui-info-text">
          <mat-icon>signal_cellular_4_bar</mat-icon>
          <br>
          <span> Exelente  </span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Direção a qual o veiculo esta percorrendo">
        <p class="ui-info-text">
          <mat-icon>directions</mat-icon>
          <br>
          <span>Direcao</span>
        </p>
      </div>
      <div fxFlex="25" class="ui-info" matTooltip="Percentual de bateria disponivel no Rastreador">

        <p class="ui-info-text">
          <mat-icon>battery_alert</mat-icon>
          <br>
          <span>80%</span>
        </p>
      </div>
    </div>
  </mat-list-item>
</mat-list>


<div class="ui-bem-rota-rapida-wrapper">
  <div class="ui-bem-rota-rapida" fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="20" fxLayout="column"
         fxLayoutAlign="center center"
         class="ui-bem-rota-rapida-item -noselectable">
        <mat-icon>timeline</mat-icon>
         <span>Rota</span>
    </div>
    <div fxFlex="20" fxLayout="column"
         fxLayoutAlign="center center"
         matTooltip="Historico de rota da última hora"
         class="ui-bem-rota-rapida-item">
        <mat-icon>av_timer</mat-icon>
        <span>1hr</span>
    </div>
    <div fxFlex="20" fxLayout="column"
         fxLayoutAlign="center center"
         matTooltip="Histórico de rota das últimas 4H"
         class="ui-bem-rota-rapida-item">
        <mat-icon>av_timer</mat-icon>
        <span matLine>3hr</span>
    </div>
    <div fxFlex="20" fxLayout="column"
         fxLayoutAlign="center center"
         matTooltip="Histórico de rota das últimas 12H"
         class="ui-bem-rota-rapida-item">
    <mat-icon>av_timer</mat-icon>
        <span>12hr</span>
    </div>
    <div fxFlex="20" fxLayout="column"
         fxLayoutAlign="center center"
         matTooltip="Histórico de rota das últimas 24H"
         class="ui-bem-rota-rapida-item">
        <mat-icon>av_timer</mat-icon>
        <span>24hr</span>
    </div>
  </div>
</div>
