.ui-bem-detalhe{
  height: 100px;
  & .ui-titulo{
    font-weight: bold;
    color: #000;
  }
  & .ui-detalhe{
    color: #bdbdbd;
    user-select: none;
  }
}

.ui-nav-link{
  text-decoration: none;
}


.ui-nav-link:hover{
  color : #FBC30C;
}

.ui-select-bem{
  background-color: #f9fafc;
  padding: 20px 0;
}

.ui-bem-actions-wrapper{
  background-color: #FFFFFF;
  padding: 12px 0;
}

.ui-bem-actions{
  background-color: #FFFFFF;
}

.ui-bem-informacoes-rapida-wrapper{
  width: 100%;
}
.ui-bem-informacoes-rapida-item{
  height: 70px
}

.ui-bem-rota-rapida-item{
  text-align: center;
  color: #787878;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  user-select: none;
  background-color: #FAFAFA;
  border: #E5E8F2 1px solid;
}
.ui-bem-rota-rapida-item:not(.-noselectable){
  cursor: pointer;
}

.ui-bem-rota-rapida-item:hover:not(.-noselectable){
  background: #f0f0f0;
}

.ui-bem-rota-rapida-wrapper{
  position:absolute;
  bottom: 0;
  width: 100%;
}

.ui-bem-rota-rapida{
  width: 100%;
  height: 60px;
}



.ui-bem-informacoes-rapida{
  background-color: #f9fafc;
  width: 100%;
  height: 60px;

  > .ui-info{
    text-align: center;
    color: #bdbdbd;
    cursor: pointer;
  }
  & .-offline{
    color: #FF5722;
  }
  & .ui-info-text{
    font-size: 12px;
  }
}

