<ot-layout>
  <ot-toolbar  (toogleSideNav)="onToogleSideNav()"  (toogleSideBar)="onToogleSideBar()"></ot-toolbar>
  <mat-sidenav-container class="ui-container">

    <mat-sidenav [opened]="showSidenav$ | async" (closedStart)="onClosedStart()" mode="over" class="ui-sidenav">
      <ot-sidenav [usuario]="usuarioLogado$ | async"></ot-sidenav>
    </mat-sidenav>

    <mat-sidenav [opened]="(showSidebar$ | async) && (selectedBem$ | async)" mode="side" position="end" class="ui-sidebar" >
      <ot-sidebar
        (desbloqueiaBem)="onDesbloqueiaBem($event)"
        (bloqueiaBem)="onBloqueiaBem($event)"
        [disableButtonBloqueio]="disableButtonBloqueio$ | async"
        [disableButtonDesbloqueio]="disableButtonDesbloqueio$ | async"
        [trackerBemSelected]="trackerBemSelected$ | async"
        [selectedBem]="selectedBem$ | async">
      </ot-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <ot-content></ot-content>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ot-layout>
