<div class="ui-frota" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-between none">
  <div class="ui-page-heading" fxFlex="84px">
     <mat-card class="ui-card-heading">
       <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
         <span class="ui-titulo">Cadastro de Frota</span>
         <button mat-raised-button [color]="'primary'"><mat-icon>add</mat-icon><span> NOVA FROTA</span></button>
       </mat-toolbar>
     </mat-card>
  </div>
  <div class="ui-page-content" fxFlex>
    <mat-card class="ui-card-content" fxFlex>
      <!--<h4 *ngFor="let frota of frota$ | async" >{{frota.descricao}}</h4>-->

      <ngx-datatable
        class="material"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="frota$ | async">
        <ngx-datatable-column name="ID" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descricao" [flexGrow]="1">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ativo" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card>
  </div>
</div>
