.ui-frota{
  height: 100%;
}
.ui-card-heading{
  padding: 10px;
}

.ui-card-content{


}

mat-toolbar{
  background-color: #FFFFFF;
}

.ui-titulo{
  color: #5F636A;
  font-size: 24px;
  font-weight: 400;
}
