@import '../../../node_modules/@angular/material/_theming';

@include mat-core();

$app-primary: mat-palette($mat-amber);
$app-accent:  mat-palette($mat-grey, 900, 800, 900);
$app-warn:    mat-palette($mat-red);


$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
