@import "../../../../assets/theme/otiseg-theme";

.ui-login-container{
  background-image: url("../../../../assets/img/backgrounds/mundo_background.jpg");
  background-blend-mode: normal;
  background-color: mat-color($app-primary);
  border-color: mat-color($app-accent, A400);
  height: 100%;
  width: 100%;
}

.ui-login-content{
  height: 400px;
  width: 650px;
  -webkit-box-shadow: 0px 0px 54px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 54px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 54px -5px rgba(0,0,0,0.75);
}
