<div class="ui-login-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="ui-login-content" fxLayout="row" fxLayoutAlign="space-between  center">
    <ng-content></ng-content>
  </div>
</div>
