<agm-map *ngIf="mapPositions$ | async as position"
         [latitude]="position.latitude"
         [longitude]="position.longitude"
         [zoom]="position.zoom">


  <!-- TRACKERS BY BEM-->
  <agm-marker *ngIf="trackerBySelectedBem$ | async  as tracker"
              [latitude]="tracker.latitude"
              [longitude]="tracker.longitude">
    <agm-info-window>
      <ot-info-window-content
        [tracker]="tracker"
        [selectedBem]="selectedBem$ | async">
      </ot-info-window-content>
    </agm-info-window>
  </agm-marker>

</agm-map>



