<button mat-raised-button [matMenuTriggerFor]="dropdownmenu" [color]="'primary'">
  <span *ngIf="(!selectedBem) && (!selectedFrota)">Selecione um veiculo</span>
  <span *ngIf="selectedBem">{{selectedBem.nome}}</span>
  <span *ngIf="selectedFrota">{{selectedFrota.descricao}}</span>
  <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_down
  </mat-icon>
</button>

<mat-menu  yPosition="below" [overlapTrigger]="false" #dropdownmenu="matMenu">
  <mat-nav-list dense>

    <h3 mat-subheader>Carros</h3>
    <mat-list-item (click)="selectBem.next(bem)"  *ngFor="let bem of bemCollection">
      <mat-icon matListIcon>directions_car</mat-icon>
      <p matLine>    <span>{{bem.nome}}</span></p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader>Frotas</h3>
    <mat-list-item (click)="selectFrota.next(frota)" *ngFor="let frota of frotasCollection">
      {{frota.descricao}}
    </mat-list-item>

  </mat-nav-list>
</mat-menu>
