<button [matMenuTriggerFor]="menu" mat-icon-button color="basic">
  <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
</button>

<mat-menu yPosition="below" [overlapTrigger]="false" #menu="matMenu">
  <button mat-menu-item>
    <mat-icon> help </mat-icon>
    <span> Central de Ajuda </span>
  </button>
  <button mat-menu-item>
    <mat-icon> settings </mat-icon>
    <span> Configuracoes </span></button>
  <button (click)="onLogoff()" mat-menu-item>
    <mat-icon> exit_to_app </mat-icon>
    <span> Sair  </span>
  </button>
</mat-menu>
