/* You can add global styles to this file, and also import other style files */

html, body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*{
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
